// ============================================================
// style.scss
// ============================================================

@import "./anchorvalues/reset";

@import "./abstract/colors.scss";
@import "./abstract/typography.scss";
@import "./abstract/variables.scss";
@import "./abstract/general.scss";

@import "./sections/header.scss";
@import "./sections/index.scss";
@import "./sections/admin-index.scss";
@import "./sections/courses.scss";
@import "./sections/course-details.scss";
@import "./sections/frontpage.scss";


#deleteButton {
    background-color: red;
    color: white;
}

#createButton {
    background-color: green;
    color: white;
}

#editButton {
    background-color: blue;
    color: white;
}