
// ====================================
// _colors.scss
// ====================================

// ===== https://mycolor.space/?hex=%232F4858&sub=1 =====
// Dust palette
// #2F4858, #9BAEBC, #677987, #876E7D
// Discreet Palette
// #2F4858, #00A0F3, #EEFBFF, #FFF7D6


// Possible new blackboard green pallet
// #274C43, #386F56, #579363, #82B66A, #B9D86D, #F9F871

// ===== https://mycolor.space/?hex=%232F4858&sub=1 =====


$primary-color: #2F4858;

$button-primary-color: #9BAEBC;

$button-text-color: #677987;

$light-text-color: #B9D86D;

$card-border-color: red;

$card-background-color: #B9D86D;

$background-color: grey;

$header-background-color: #274c43;      // Blackboard green


