// ====================================
// _colors.scss
// ====================================

// ===== https://mycolor.space/?hex=%23274C43&sub=1 =====
// Green Blackboard palette
// #274C43, #386F56, #579363, #82B66A, #B9D86D, #F9F871
// ===== https://mycolor.space/?hex=%23274C43&sub=1 =====


$primary-color: #2F4858;

$button-primary-color: #B9D86D;

$button-text-color: #2F4858;

$dark-text-color: Black;

$light-text-color: #B9D86D;

$card-border-color: Black;

$card-background-color: #386F56;

$form-background-color: #274C43;

$background-color: #579363;

$header-background-color: #274c43;