
// ====================================
// _colors.scss
// ====================================

// ===== https://mycolor.space/?hex=%232F4858&sub=1 =====
// Dust palette
// #2F4858, #9BAEBC, #677987, #876E7D
// Discreet Palette
// #2F4858, #00A0F3, #EEFBFF, #FFF7D6
// ===== https://mycolor.space/?hex=%232F4858&sub=1 =====


$primary-color: #2F4858;

$button-primary-color: #9BAEBC;

$button-text-color: #677987;

$light-text-color: #876E7D;

$card-border-color: red;

$card-background-color: #EEFBFF;

$background-color: grey;


