// ==================================
// _variables.scss
// ==================================

$pageWidthDesk: pxToRem(1200);
$pageWidthTablet: pxToRem(800);
$pageWidthMobile: pxToRem(500);
$headerHeight: pxToRem(80);