.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
  
.admin-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: pxToRem(10);
  margin: pxToRem(20);
  padding: pxToRem(16) pxToRem(10);
  border-radius: pxToRem(10);
  background-color: whitesmoke;
  color: black;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

#addNewCourseButton {
  width: auto;
  margin: 0 auto;
  margin-top: pxToRem(20);

}

.admin-container {
  margin-right: auto;
  margin-left: auto;
  max-width: $pageWidthDesk;
}

