#course-detail-container {
    display: grid;
    justify-content: center;
}
.course-details-card {
    max-width: $pageWidthDesk;
    margin: pxToRem(16);
    margin-bottom: pxToRem(64);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.course-details-card img {
    width: 30%;
}
