// ====================================
// courses.scss
// ====================================

#courses-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    gap: pxToRem(16);
}

.course-card {
    border:solid pxToRem(1) $card-border-color;
    background: $card-background-color;
    max-width: pxToRem(460);
    border-radius: pxToRem(8);
}

.admin-card, .course-card {
    cursor: pointer;
    text-align: center;
}

.course-card img {
    width: 100%;
  }

.course-title {
    margin: pxToRem(10);
}

.list-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: pxToRem(10);
}

.filter-popular {
    margin: 0 auto;
}

  
@media (max-width: $pageWidthTablet) {
    #courses-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: $pageWidthMobile) {
    #courses-gallery {
        grid-template-columns: repeat(1, 1fr);
    }
}