.header-container {
    margin-right: auto;
    margin-left: auto;
    margin-top: pxToRem(10);
    margin-bottom: pxToRem(10);
    max-width: $pageWidthDesk;
    position: relative;
}

header {
    background-color: $header-background-color;
    color: $light-text-color;
    padding: pxToRem(10);
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: right;
}

.loginForm {
    display: flex;
    justify-content: space-between;
    gap: pxToRem(10);
    position: absolute;
    top: 100%; // Position it right below the header
    right: 0; // Align to the right side of the screen
    z-index: 10; // Ensure it overlays content below the header
    background: $card-background-color; 
    border: 1px solid #ccc;
    padding: pxToRem(10);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); // drop shadow effect
    width: auto;
    transition: opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}

.loginForm:not(.hidden) {
    opacity: 1;
    visibility: visible;
}
