// ====================================
// header.scss
// ====================================

.header-container {
    margin-right: auto;
    margin-left: auto;
    margin-top: pxToRem(10);
    margin-bottom: pxToRem(10);
    max-width: $pageWidthDesk;
    position: relative;
}

.headerNav, header {
    position: relative;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    background-color: $header-background-color;
    color: $light-text-color;
    padding: pxToRem(10);
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 pxToRem(8) pxToRem(16) rgba(0, 0, 0, 0.15);
}

header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: right;
}

.loginForm {
    display: flex;
    justify-content: space-between;
    gap: pxToRem(10);
    position: absolute;
    top: 100%; // Position it right below the header
    right: 0; // Align to the right side of the screen
    z-index: 10; // Ensure it overlays content below the header
    background: $card-background-color; 
    border: 1px solid #ccc;
    padding: pxToRem(10);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); // drop shadow effect
    width: auto;
    transition: opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}

.loginForm:not(.hidden) {
    opacity: 1;
    visibility: visible;
}

.hamburger {
    display: none; 
    cursor: pointer;
    font-size: pxToRem(30); 
    padding: pxToRem(10);
}


@media (max-width: $pageWidthMobile) {
    .hamburger {
        display: block;
    }

    .header-container {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: $header-background-color;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        padding: pxToRem(20);
        box-shadow: 0 pxToRem(8) pxToRem(16) rgba(0,0,0,0.2);

        .menu {
            flex-direction: column;
            align-items: flex-start;

            .menu-item {
                margin-bottom: pxToRem(10);
            }
        }
    }

    .header-container.active {
        display: block;
    }
}
