// ====================================
// user-creation.scss
// ====================================

.user-creation-container {
    max-width: pxToRem(600);
    margin: pxToRem(20) auto;
    padding: pxToRem(20);
    background-color: $form-background-color;
    box-shadow: 0 0 pxToRem(10) rgba(0, 0, 0, 0.1);
}

#userCreationForm {
    display: flex;
    flex-direction: column;
    gap: pxToRem(10);
}

#userCreationForm input[type="text"],
#userCreationForm input[type="email"],
#userCreationForm input[type="password"],
#userCreationForm input[type="tel"] {
    padding: pxToRem(10);
    margin: pxToRem(5) 0;
    border: pxToRem(1) solid $card-border-color;
    border-radius: pxToRem(4);
}

#userCreationForm button[type="submit"] {
    padding: pxToRem(10);
    background-color: $button-primary-color;
    color: $button-text-color;
    border: none;
    border-radius: pxToRem(4);
    cursor: pointer;
    font-size: pxToRem(16);
}

#userCreationForm button[type="submit"]:hover {
    background-color: #004494;
}

#userCreationForm input::placeholder {
    color: #999;
}

@media (max-width: $pageWidthTablet) {
    .user-creation-container {
        max-width: pxToRem(500);
    }
}

@media (max-width: $pageWidthMobile) {
    .user-creation-container {
        max-width: pxToRem(300);
    }
}
